#todo{
    text-align: center;
    width: 100px;
    margin: 100px 50% 0px;
}

table tr td:hover{
    background: #6c6969;
}

table tr td{
    border: 1px solid #f6f5f5;
}

input{
    width: 105px;
    background: #6c6969;
}